.container{
    display: flex;
    background: rgb(180, 180, 180);
    flex-direction: column;
    width: 230px;
    height: 410px;
    margin: auto;
    margin-top: 10%;
    padding: 5px;
}

.quad1{
    display: flex;
    background: rgb(175, 255, 175);
    padding: 2rem;
    margin: 10px;
}

.container2{
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 10px;
}

.container2 div.quad2{
    display: flex;
    background: rgb(255, 131, 151);
    padding: 30px;
    width: 25%;
}

.container2 div.quad3{
    display: flex;
    background: rgb(250, 111, 197);
    padding: 30px;
    width: 25%;
    height: 50px;
}

.container3{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.container3 div.quad4a{
    display: flex;
    background: rgb(113, 115, 243);
    padding: 40px;
    width: 57%;
    margin: auto;
}

.container3 div.quad4b{
    display: flex;
    background: rgb(113, 115, 243);
    padding: 40px;
    width: 57%;
    margin: auto;
    margin-top: 16px;
}